html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

a{
    text-decoration: none;
}
a:hover, .footer-section a:hover, .logo a:hover{
    text-decoration: none!important;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
i{
    color: blueviolet;
}
.extra-div h2{
    font-size: 20px;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 5px;
}
/* *********Main CSS Start*********  */

.header {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0,168,255,0.2),rgba(0,168,255,0.2)), url("home.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0 0);
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: -1;
    /* background-image: linear-gradient( 135deg,  #130CB7 10%, #52E5E7 100%); */
}
.navbar::before{
    content: "";
    position: absolute;
    height: 70px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 0.9;
    z-index: -1;
    background-image: linear-gradient(150deg, #6018dc 0%, #eead92 100%);
}
.carousel-inner-first img {
    width: 100%;
    height: 100vh!important;
    border-radius: 0%!important;
    opacity: 0.9;
    position: relative;
    /* background-image: linear-gradient(135deg, #43c6ac 10%, #191654 100%); */
}
.carousel-inner-first img::after{
    content: "";
    position: absolute;
    /* background-image: linear-gradient(135deg, #43c6ac 10%, #191654 100%); */
}
.carousel-indicators .indicator{
    background-color: #000000;
}
.logo h1{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.logo:hover{
    color: #fff;
}
.nav-item a{
    color: #fff!important;
    font-weight: bold;
    font-size: 20px;
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.header-buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
/* .center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: #fff;
} */
.carousel-caption{
    padding-bottom: 150px!important;
}
.carousel-caption h3{
    text-transform: uppercase;
    text-shadow: 5px 5px 10px darkorchid, -5px -5px 10px darkorchid;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: indigo;
}
.carousel-caption a {
    border: none;
    background: linear-gradient(150deg, #eead92 0%, #6018dc 100%);
    box-shadow: 0 0 10px #9900CC;
    color: #fff;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    text-transform: uppercase;
    border-radius: 20px;
}
.carousel-caption a:hover{
    color: #fff;
    background: linear-gradient(150deg, #6018dc 0%, #eead92 100%);
}
/* addition div start */

.add-div{
    width: 100%;
    height: auto;
    margin: 100px 0;
}
.extra-div{
    background: #fff;
    border: medium none;
    padding: 10px!important;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
}
.extra-div:hover{
    /* box-shadow: 5px 0 20px 0 rgba(0, 0, 0, 0.3); */
    box-shadow: 0 20px 10px -10px rgb(79, 141, 199);
    transform: translateY(-20px);
}
/* addition div end */

/* Services section start */
.services{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
}
/* .service-div h2{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    text-align:;
    width: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
} */

/* .service-div .serv-head{
    text-align: left!important;
} */
.service-icon i{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0!important;
    /* margin-right: 10px; */
}
.service-icon h2{
    font-size: 35px!important;
}
.services-row{
    margin-bottom: 10px;
}
/* .progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
    background: #606060;
} */
/* Services section end */

/* our pricing section details start*/
.pricing{
    widows: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(150deg, #6018dc 0%, #eead92 100%);
}
.money{
    font-size: 30px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;
    border-radius: 30px!important;
    box-shadow: 5px 4px 30px #666666 inset, -5px -5px 20px #666666 inset;
}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: transparent!important;
    padding: 25px 9!important;
    border-radius: 30px!important;
}
.card-body{
    padding: 30px 0!important;
    color: #606060!important;
}
.card-body li{
    margin: 2px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: transparent!important;
    padding: 15px 9!important;
    margin: 5px;
    margin-bottom: 10px;
    justify-content: center;
}
.card-footer a{
    border: 1px solid blueviolet;
    border-radius: 100px;
    margin: 5px 5px;
    padding: 12px 35px;
    outline: none;
    color: blueviolet;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
    justify-content: center;
}
.card:hover .card-footer a{
    color: #fff;
    background: linear-gradient(150deg, #6018dc 0%, #eead92 100%);
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.card:hover .card-header, .card:hover .money{
    color: blueviolet;
}
/* our pricing section  details end*/

/* our showcase start CSS */
.happyclients{
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
}
.parent-box{
    /* background-color: #2e2e2e; */
    display: flex;
    height: 450px;
}
.box{
    height: 450px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e7f0ea;
    border-radius: 25px;
}
.box img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    padding: 5px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    display: none;   
}
.owl-dot span{
    background-color: blueviolet!important;
}
.owl-dot span:hover{
    background-color: #ecab93!important;
}
/* our showcase end CSS */

/* contact us styling start */
.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}
.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    /* transform: rotate(-20deg); */
    background: linear-gradient(150deg, #eead92 0%, #6018dc 100%);
    z-index: -1;
}
.form-button button{
    border: none;
    border-radius: 100px;
    margin: 5px 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    box-shadow: 0px 0px 10px #be3e94;
    background: linear-gradient(150deg, #6018dc 40%, #eead92 100%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
    justify-content: center;
    /* background: transparent; */
}
/* form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
} */
.form-button button:hover{
    color: #fff!important;
    transition: ease;
    background: linear-gradient(150deg, #eead92 0%, #6018dc 100%);
}
::placeholder{
    font-size: 0.85rem;
}
.contact-add-div{
    height: 270px;
    padding: 1rem;
    border: 2px solid transparent;
    border-image: linear-gradient(150deg, #6018dc 0%, #eead92 100%);
    border-image-slice: 1;
}
/* .contact-add-div li{
    margin-left: 100px;
    color: #e7f0ea;
    font-size:20px;
    margin-top: 5px;
} */
.contact-add p{
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
.contact-add p a{
    color: aliceblue;
}
.contact-add p a:hover{
    color: #33FFFF;
}
/* contact us styling end */

/* newsletter start */
.newsletter{
    width: 100%;
    height: auto;
    margin: 80px auto;
}
.mail-input{
    border-radius: 100px 0 0 100px!important;
    min-width: 150px;
    min-height: 45;
}
.subscribe{
    color: #fff!important;
    background: #5bc0de!important;
    border-radius: 0 100px 100px 0!important;
    min-width: 130px;
    min-height: 45;
    border-color: 1px solid #5bc0de!important;
}
/* newsletter end */

/* footer start */
.footer-section{
    width: 100%;
    height: auto;
    padding: 70px 0 20 0;
    /* margin-top: 100px; */

    background:linear-gradient(120deg, #495057 0%, #495057 10%);
    position: relative;
}
.footer-section p{
    color: #fff;
    margin-bottom: 0;
    margin-top: 20px;
}
.footer-section address i{
    color: #fff!important;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 200;
}
.footer-section h3{
    padding-top: 20px;
}
.footer-section li a {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
}
.aboutone address p{
    margin: 0px;
    margin-bottom: -10px;
}
.aboutone address p a{
    color: #fff;
}
.aboutone address p a:hover{
    color: #33FFFF;
}
.newsletter-main{
    margin-top: 10px;
}
.copyright{
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-section h3{
    text-transform: uppercase;
    color: #adb5bd;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 10px!important;
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 02;
    border: none;
    color: #fff;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
}
#myBtn:hover{
    background: #606060;
}

/* privacy policy css */
.privacy-div{
    margin-top: 80px;
}

/* privacy policy css */
/* footer end */

/* *********Main CSS End*********  */

/******** Custom Scrollar *******/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blueviolet; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blueviolet; 
  }

  /***** for firefox ******/
  html{
      overflow-y: scroll;
      scrollbar-color: blueviolet;
      scrollbar-width: 10px;
  }
/******** Custom Scrollar end*******/

/* ********Media Quaries*********** */


@media(max-width: 1024px){
    .nav-item{
        text-align: center!important;
    }

    .pricing, .happyclients, .contactus{
        height: auto;
        margin-top: 50px;
    }

    .card-middle{
        transform: translateY(0px);
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contactus p{
        padding: 0 50px;
    }

    .news-email{
        margin-left: 0px!important;
    }

    .footer-section .aboutmid, .footer-section .aboutlast{
        text-align: left!important;
    }
    .carousel{
        height: auto;
    }
}